@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;700&display=swap');

body {
  font-family:  'Noto Serif JP', sans-serif;
}

/* header 
------------------------------ */

.wrapper {
  display: flex;
}

.side-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EBE7DE;
  width: 300px;
}

.main-header {
  color: white;
  width: calc(100% - 300px);
}

#right {
  background-image: url(../images/pic01.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

h1 {
  position: absolute;
  left: 65px;
  bottom: 34px;
  font-size: 36px;
  font-weight: bold;
  line-height: 135%;
  text-shadow: 2px 3px 3px #4d423c;
}

/* ナビゲーション
-------------------------------- */

nav {
  background: #f6efdb;
}

.main-nav {
  display:flex;
  justify-content: space-around;
  list-style: none;
  width: 1200px;
  margin: auto;
}

.main-nav li {
  width: calc(100% / 5);
  padding: 13px 0;
  font-size: 12px;
  text-align: center;
}

/* メイン
-------------------------------- */

.main {
  padding: 100px 0;
}



.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows : 1fr 1fr 1fr;
}

.item1 {
  grid-column: 1/4;
  padding: 50px;
  text-align: center;
  background-image: url(../images/pic02.jpg);
  background-size: cover;
}
.back1 {
  background: #ffffff;
  opacity: 0.5;
  width: 250px;
  height: 80px;
}

.item2 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 50px;
  text-align: center;
  background-image: url(../images/pic03.jpg);
  background-size: cover;
}
.back2 {
  background: #ffffff;
  opacity: 0.5;
  width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item3 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 50px;
  text-align: center;
  background-image: url(../images/pic04.jpg);
  background-size: cover;
}
.back3 {
  background: #ffffff;
  opacity: 0.5;
  width: 250px;
  height: 80px;
  
}


.item4 {
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 50px;
  text-align: center;
  background-image: url(../images/pic05.jpg);
  background-size: cover;
}
.back4 {
  background: #ffffff;
  opacity: 0.5;
  width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}