@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;700&display=swap');

body {
  font-family:  'Noto Serif JP', sans-serif;
  overflow-x: hidden;
}

/* header 
------------------------------ */

.wrapper {
  display: flex;
}

.side-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EBE7DE;
  width: 287px;
}

.top-header {
  color: white;
  width: calc(100% - 287px);
}

#right {
  background-image: url(../images/pic01.jpg);
  background-size: cover;
  min-height: 512px;
  position: relative;
}

h1 {
  position: absolute;
  left: 65px;
  bottom: 34px;
  font-size: 36px;
  font-weight: bold;
  line-height: 135%;
  text-shadow: 2px 3px 3px #4d423c;
  color: white;
}

/* ナビゲーション
-------------------------------- */

nav {
  background: #efefef;
}

.active {
  background: #503E30;
}

 .active a {
  color: #ffffff;
}

.main-nav {
  display:flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  }

.main-nav li {
  width: calc(100% / 5);
  font-size: 12px;
  text-align: center;
} 

.main-nav li  a {
  display: block;
  margin: 12.5px 0;
  padding: 4px;
  border-right: 1px dotted #666;
  color: #513E2F;
}
.main-nav li:last-child a {
  border-right: 0;
}

.main-nav li.active a {
  color: #ffffff;
}

.main-nav li a:hover {
  background: #503E30;
  color: #ffffff;
  padding: 16.5px 0;
  margin: 0;
}



/* メイン
-------------------------------- */



.main-header {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  color: #262827;
}
  
.main-header a {
  margin: 20px 25px 0 38px;
  font-size: 12px;
  text-decoration: underline;
}
.main-header img {
  margin: 2.5px;
}
  
  
  



.item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows : 1fr 1fr ;
  margin-top: 80px;
}


.box {
  width: 90%;
  max-width: 280px;
}

.item {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../images/pic02.jpg);
  background-size: cover;
}

.item:nth-child(1) {
  grid-column: 1/4;
}

.item:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/pic03.jpg);
}

.item:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/pic04.jpg);
}

.item:nth-child(4) {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/pic05.jpg);
}
  
.item-contents {
  background: rgb(255 255 255 / 70%);
  width: 100%;
  max-width: 280px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: #513E2F;
  transition: all 300ms 0s ease;
}

.item-contents:hover {
  background: #513E2F;
  color: #ffffff;
  opacity: .7;
}

.item-contents h2 {
  font-weight: bold;
  font-size: 24px; 
  margin-left: 24px;
}

.item-contents .item-contents-comment {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 13px;
  letter-spacing: 2px;
}

.item-contents .item-contents-comment:after {
  content: '';
  display: block;
  width: 12px;
  height: 4px;
  margin-left: 4px;
  background: url(../images/arrow01.png) 0 center no-repeat;
  background-size: 100%;
}

/* お問い合わせ
---------------------------------------------- */

.contact {
  padding: 125px 0 134px;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.sp-block {
  display: none;
}

.contact p {
  margin-bottom: 20px;
  color: #513E2F;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #503e30 solid;
  padding: 10px;
  width: 200px;
  height: 50px;
  color: #513E2F;
  font-weight: bold;
  transition: all 300ms 0s ease;
}
.button:hover {
  background: #513E2F;
  color: #ffffff;
  opacity: .7;
}

footer {
  background: #503e30;
  padding: 86px 0;
  position: relative;
}
footer p {
  margin: 0 auto;
  color: #fff;
}
footer img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* モバイル版
--------------------------------------------- */
@media (max-width: 600px) {

/* ハンバーガー */
.menu-btn {
  position: fixed;
  top: 0px; 
  right: 0px; 
  display: flex;
  height: 46px;
  width: 46px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #503e30;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

/* トップ */

  .wrapper {
    display: block;
  }

  .side-header {
    width: 100%;
    height: 46px;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .side-header img {
    min-width: 154px;
    height: 20px;
    object-fit: cover;
  }
  

  .top-header {
    width: 100%;
    margin-top: 46px;
    text-align: center;
    position: relative;
    
  }

  .top-header h1 {
    font-size: 20px;
    left: 65px;
    bottom: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
    

  #right {
    background-image: url(../images/pic01.jpg);
    background-size: cover;
    min-height: 182px;
  }

  /* ナビゲーション */

  .main-nav {
    display: none;
  }
  
  /* メイン */
    
  .main-header a {
    display: none;
  }

  .item-wrapper {
    display: block;
    margin: 24px;
  }
  .item {
    padding: 10px;
    /* margin-bottom: 25px; */
    margin-top: 25px;
    height: 118px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .item-contents {
    height: 95px;
    width: 168px;
    margin-left: auto;
  }
  .item-contents h2 {
    font-size: 16px;
  }
  .item-contents-comment {
    font-size: 12px;
  }

/* コンタクト */

  .contact {
    padding: 20px 0 35px;
  }
  .contact p {
    font-size: 17px;
    line-height: 1.7;
  }
  .sp-block {
    display: block;
  }
  

  /* フッター */
  footer {
    width: 100%;
    padding: 33.5px 0;
    position: relative;
    background: #503e30;
  }
  footer p {
    text-align: center;
    font-size: 0.05rem;
    margin: 0 auto;
  }
  footer img {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 10px;
    right: 5px;
  }
  
}
    
  

  





  