@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;700&display=swap');

body {
  font-family:  'Noto Serif JP', sans-serif;
  overflow-x: hidden;
}

/* header 
------------------------------ */

.wrapper {
  display: flex;
}

.side-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EBE7DE;
  width: 287px;
}

.main-header {
  color: white;
  width: calc(100% - 287px);
}

#right {
  background-image: url(../images/pic01.jpg);
  background-size: cover;
  min-height: 512px;
  position: relative;
}

h1 {
  position: absolute;
  left: 65px;
  bottom: 34px;
  font-size: 36px;
  font-weight: bold;
  line-height: 135%;
  text-shadow: 2px 3px 3px #4d423c;
  color: white;
}

/* ナビゲーション
-------------------------------- */

nav {
  background: #efefef;
}

.active {
  background: #503E30;
}

 .active a {
  color: #ffffff;
}

.main-nav {
  display:flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  }

.main-nav li {
  width: calc(100% / 5);
  font-size: 12px;
  text-align: center;
} 

.main-nav li  a {
  display: block;
  margin: 12.5px 0;
  padding: 4px;
  border-right: 1px dotted #666;
  color: #513E2F;
}
.main-nav li:last-child a {
  border-right: 0;
}

.main-nav li.active a {
  color: #ffffff;
}

.main-nav li a:hover {
  background: #503E30;
  color: #ffffff;
  padding: 16.5px 0;
  margin: 0;
}
                
/* .main-nav li:not(:first-child, :last-child) {
  border-right: 1px dotted #666;
} */
  
                  



/* メイン
-------------------------------- */


.main-header {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  color: #262827;
}
.main-header a {
  margin: 20px 0 0 38px;
  font-size: 12px;
  text-decoration: underline;
}
.main-header img {
  margin: 2.5px;
}
  



.item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows : 1fr 1fr 1fr;
  margin-top: 80px;
}


.box {
  width: 90%;
  max-width: 280px;
}

.item {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../images/pic02.jpg);
  background-size: cover;
}

.item:nth-child(1) {
  grid-column: 1/4;
}

.item:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/pic03.jpg);
}

.item:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/pic04.jpg);
}

.item:nth-child(4) {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/pic05.jpg);
}
  
.item-contents {
  background: rgb(255 255 255 / 70%);
  width: 100%;
  max-width: 280px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: #513E2F;
  transition: all 300ms 0s ease;
}

.item-contents:hover {
  background: #513E2F;
  color: #ffffff;
  opacity: .7;
}

.item-contents h2 {
  font-weight: bold;
  font-size: 24px; 
  margin-left: 24px;
}

.item-contents .item-contents-comment {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 13px;
  letter-spacing: 2px;
}

.item-contents .item-contents-comment:after {
  content: '';
  display: block;
  width: 12px;
  height: 4px;
  margin-left: 4px;
  background: url(../images/arrow01.png) 0 center no-repeat;
  background-size: 100%;
}

.contact {
  padding: 150px;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  border: 1px #262827 solid;
  padding: 10px;
  width: 200px;
  height: 60px;
  
}
  


  